
$axis-size: 64px
$min-chart-height: 400px
$pad: 4px
$axis-color: #ccc
$text-color: #222

.tinyplot-chart
	position: relative
	min-height: $min-chart-height
	font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif
	> div
		position: absolute
	canvas
		width: 100%
		height: 100%
	.text
		color: $text-color
	.title-area
		position: absolute
		left: $axis-size
		right: $axis-size
		height: $axis-size
		.title
			text-align: center
			font-size: 22px
	.y-axis
		width: $axis-size
		top: $axis-size
		bottom: $axis-size
		z-index: 2
	.data
		left: $axis-size
		right: $axis-size
		top: $axis-size
		bottom: $axis-size
		background: #fff
		z-index: 1
		border: 1px solid $axis-color
	.x-axis
		height: $axis-size
		left: $axis-size
		right: $axis-size
		bottom: 0
		z-index: 2