
body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    background: #f0f0f0;
}

h1 {
    text-align: center;
    font-weight: 100;
}


.demo-row {
    clear: both;
}
.demo-column {
    width: 50%;
    float: left;
}

#timeseries, #stacked-bar {
    min-height: 480px;
}
